---
layout: watched_default
maintitle: Documentation
---
{% capture html %}
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon fa {{ page.doc_icon }}"></i> {{ page.doc_title }}</h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
{{ content }}
{% capture html %}
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar hidden-xs" id="doc-menu">
                      <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
                    </div><!--//doc-sidebar-->
                </div>
            </div><!--//container-->
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
